.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    /* full width of the container, else we can see the 3 images */
    flex: 0 0 100%; 
    text-align: center;
    position: relative;
}

.step-0 {
    transform: translateX(0%);
}

.step-1 {
    transform: translateX(-100%);
}

.step-2 {
    transform: translateX(-200%);
}

.step-3 {
    transform: translateX(-300%);
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 22em;
    border-radius: 0%;
    border-width: 0;
    margin-bottom: 1em;
}

.card-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.card-image img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin-top: 2em;
}

#color0 {
    background-color: rgb(54, 177, 186);
}

#color1 {
    background-color: rgb(224, 221, 228);
}

#color2 {
    background-color: rgb(255, 211, 101);
}

.card-content {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
    padding: 1em;
    flex-direction: column;
}

.card-p {
    width: 70%;
    display: flex;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: larger;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

@media (min-width: 1024px) {

    .card-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
        padding: 3em;
    }

    .card-p {
        align-items: center;
        padding: 0 5em 0 5em;
        justify-content: center;
        align-self: center;
        text-align: center;
    }
}