.card {
    display: flex;
    align-items: center;
    height: 25em;
    border-radius: 0%;
    border-width: 0;
}

.card-image {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically if it has a fixed height */
    width: 100%;
}

.card-image img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin-top: 2em;
}

#color0 {
    background-color: rgb(54, 177, 186);
}

#color1 {
    background-color: rgb(224, 221, 228);
}

#color2 {
    background-color: rgb(255, 211, 101);
}

.card-content {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
    padding: 1em;
    flex-direction: column;
}

.card-p {
    display: flex;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: larger;
}

@media (min-width: 1024px) { /* Larger screens */

    .card-content {
        width: 60%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
        padding: 3em;
    }

    .card-p {
        align-items: center;
        padding: 0 5em 0 5em;
        justify-content: center;
        align-self: center;
        text-align: center;
    }
}