@import "../src/components/Card/Card.module.css";
@import "../src/components/NavigationControls/NavigationControls.module.css";

#root {
  max-width: 1280px;
  max-height: fit-content;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}