#root {
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  height: 27em;
  border-radius: 0%;
  border-width: 0;
}

.card-image {
  /* align-self: center; */
  /* width: 100%; */
  /* display: flex; */
}

#color0 {
  background-color: rgb(54, 177, 186);
}

#color1 {
  background-color: rgb(224, 221, 228);
}

#color2 {
  background-color: rgb(255, 211, 101);
}

.card-content {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1em;
}

#card-p {
  color: grey;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
}

.card-next-btn {
  width: 3em;
  height: 3em;
  background-color: black;
  color: white;
  font-size: larger;
  border-radius: 100%;

}

.card-prev-btn {
  width: 3em;
  height: 3em;
  background-color: white;
  color: black;
  font-size: larger;
  border-radius: 100%;
}

.card-directions {
  display: flex;
  justify-content: flex-end;
  padding: 0 1em 0 1em;
  gap: 1em;
}

.card-div-btns {
  background-color: rebeccapurple;
  display: flex;
  justify-content: flex-end;
  padding: 0 1em 0 1em;
  gap: 1em;
}